.college_name{
    height:120px;
    font-size:50px;
    padding-top: 20px;
    margin-left:30px;
    margin-right:30px;
    font-size: 40px;
    background-color:rgb(216, 236, 244);
    color: rgb(15, 15, 86);
    font-family: 'PT Serif', serif; 
    text-align:center;
    border-radius: 5px;
    border: 5px solid black;
    box-shadow: 0 0 2px 2px grey;
   }

.head-main{
    height:230px;
    display:flex;
    font-size:60px;
    justify-content: space-around;
}
.grade{
    text-align:center;
    color:  rgb(15, 15, 86);
    font-size: 25px;
    font-family: 'PT Serif', serif;
    padding-bottom: 5px;
    position: absolute;
    margin-right: 200px;

}
.navigation_bar{
    width:73%;
    display:flex;
    justify-content:space-evenly;
}

.main-heading{  
    color:white;
    font-size: 55px; 
    text-align: center;
    background-color:rgb(15, 15, 86); 
}
.about-main{
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
 
}
.about{
  font-size:20px;
}
.img1{
    width:500px;
    display:inline;  
    margin-left: 30px;
    border: 7px solid rgb(119, 118, 118);
    alt:college image;
}
.points{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    text-align:center;
}
.heading{
    font-size:25px;
    font-style: italic;
}
.divisions {
    font-size: 30px; 
    padding: 20px 70px;
    text-decoration: none; 
    text-align: center;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    background-color:rgb(15, 15, 86); 
    color: white;

  }

  .divisions:hover{
    box-shadow:5px 5px 10px black;
    transition: 0.3s;
  }

.div-img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    alt:xx;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.main-people{
    width:500px;
    display: block;
    text-align:center;

}
.people{
    width:250px;
    height: 250px;
    border-radius: 50%;
    alt:teachers-photo;
}
.last{
    height: 300px;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(15, 15, 86);
    margin-bottom:20px; 
}

.college_name{
    width:2000px;
    height:130px;
    font-size:50px;
    padding: 20px 0px;
    text-align:center;
    font-size: 40px;

}
.logo{
    margin-left:0;
    margin-right:0;
}
.head-main{
    height:230px;
    display:flex;
    font-size:60px;
    justify-content: space-around;
}
.grade{
    text-align:center;
}
.navigation_bar{
    width:73%;
    display:flex;
    justify-content:space-evenly;
}

.xxtt{
    background-color:rgb(181, 210, 242) ;
    padding: 5px 5px;
    border: 0.5px solid black;
    margin-top: 8px;
    border-radius: 6px;
}
.xxtt:hover{
    box-shadow: inset 0 0 5px rgb(21, 21, 185);;
    transition: 0.1s;
}
.fest{
    height:235px;
    width:235px;
    alt:gallery;
}
.gallery{
   margin-left: 13px;
   margin-right: 13px;
   margin-top: 20px;
} 
@media screen and (max-width:800px){
 .college_name{
    font-size: 20px;
    height: 60px;
 }
 .main-heading{
    font-size: 40px;
 }
 .about-main{
    font-size: 16px;
    margin-left: 10px;
    margin-right: 10px;
 }
 .img1{
    width:320px;
    display:inline;  
    margin-left: 30px;
 }
 .divisions {
    font-size: 25px; 
}
.people{
    width:150px;
    height: 150px;
    alt:teachers-photo;
}
.fest{
    height:200px;
    width:200px;
}
}

@media screen and (min-width:800px) and (max-width:992px){
    .college_name{
        font-size: 20px;
        height: 60px;
     }
     .main-heading{
        font-size: 47px;
     }
     .about-main{
        font-size: 18px;
        margin-left: 10px;
        margin-right: 10px;
     }
     .img1{
        width:450px;
        display:inline;  
        margin-left: 30px;
        alt:college-image;
     }
     .divisions {
        font-size: 25px; 
    }
    .people{
        width:150px;
        height: 150px;
        alt:teachers-photo;
    }
    .fest{
        height:200px;
        width:200px;
    }
}

/* FOOTER CSS */

.footer {
    margin-top: 10px;
    padding: 30px 30px 0 30px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-size: small;
    font-weight: 600;
}

.inner-footer {
    display: flex;
}

.container0 {
    display: inline;
}

.container1 {
    width: 900px;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

.footer-title {
    font-size: large;
    margin-bottom: 0;
}

.footer-logo {
    width: 100px;
    margin-left: 100px;
    background-color: white;
    border-radius: 50%;
    
}

.footer-name {
    margin: 10px;
}

span {
    color: #ffffff;
}

.contact-logo {
    height: 20px;
}

.footer-campuses {
    text-decoration: none;
    color: #092635;
}

.footer-end {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
}
.social_media{
    width: 30px;
}
