.main-heading{  
    color:white;
    font-size: 55px; 
    text-align: center;
    background-color:rgb(15, 15, 86); 
}
.about-main{
    text-align: left;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
 
}
.about{
  font-size:20px;
}
.img1{
    width:500px;
    display:inline;  
    margin-left: 30px;
    border: 7px solid rgb(119, 118, 118);
}
.points{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 25px;
    text-align:center;
}
.heading{
    font-size:25px;
    font-style: italic;
}
.divisions {
    font-size: 30px; 
    padding: 20px 70px;
    text-decoration: none; 
    text-align: center;
    display: inline-block;
    margin: 10px;
    border-radius: 10px;
    background-color:rgb(15, 15, 86); 
    color: white;

  }

  .divisions:hover{
    box-shadow:5px 5px 10px black;
    transition: 0.3s;
  }

.div-img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
}
.main-people{
    width:500px;
    display: block;
    text-align:center;

}
.people{
    width:250px;
    height: 250px;
    border-radius: 50%;
}
.last{
    height: 300px;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    background-color:rgb(15, 15, 86); 
}
.cr{
  padding:0;
}
.xxtt{
    background-color:rgb(172, 210, 249) ;
    padding: 5px 5px;
    border: 0.5px solid black;
    margin-top: 8px;
    border-radius: 6px;
}
.xxtt:hover{
    box-shadow: inset 0 0 10px black;
    transition: 0.1s;
}