body
{
    background-color:rgb(15, 15, 86);
  
} 

.UG
{   border: 3px solid black;
    margin: 20px;
    box-shadow: 5px 5px 5px 2px  rgb(74, 74, 74);
    height: 1300px;
    background-color: aliceblue;
    text-align: justify;
}
@media screen and (max-width:768px)
{   .UG
    {   text-align: justify;
        height: 1300px;
        box-shadow: 3px 3px 3px 1px  rgb(74, 74, 74);
        margin: 30px;
    }
}
.UG:hover
{
 
    border: 2px double black;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
}



.title
{
    font-size: 35px;
    border-bottom: solid black 2px;
    text-align: center;
    background-color:  rgb(216, 236, 244);
    padding: 20px 20px;
    font-weight: bold;
    color:black;
    font-family: Bahnschrift Condensed;
}
@media screen and (max-width:768px)
{   .title
    {   font-size: 25px;
        text-align: center;
    }
}

h2
{
text-align: center;
}

.p
{
 text-align: justify;
 font-size: 20px;
}
@media screen and (max-width:768px)
{  .p
    {   text-align: justify;
        font-size: 12px;
        padding: 20px;
    }
}



.table
{
    margin: 20px;
    border:  2px solid black;
    background-color: aliceblue;
    box-shadow:5px 5px 5px 2px  rgb(97, 97, 97);
    width: 1000px;
}
@media screen and (max-width:768px)
{  .table
    {   width: 20px;
        margin: 20px 20px;
        height: 300px;

    }
}



.th
{
    color: black;
    background-color:wheat;
}

.td
{
    background-color:rgba(0,0,0,0.1);
    color:black;
}

.pn
{
    padding: 20px;
    font-size: 20px;
}
@media screen and (max-width:768px)
{
.pn
{
    padding: 20px ;
    font-size: 10px;
}

}

.img
{
    height: 300px;
    width: 1300px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
    float: center;
    margin: 10px;
    border: 2px solid wheat;
   
}
@media screen and (max-width:768px)
{ .img
    {  height:200px;
        width: 400px;
        margin-left:30px;
        margin-right:50px;
        float: center;
    }  
}


h1{
    font-size: 50px;
    position: absolute;
    text-align:right;
    color: white;
    padding: 20px;
}
@media screen and (max-width:768px)
{   h1
    {   font-size: 30px;
        padding-left: 60px;
        margin-left: 80px;

    }
}



