.body
{
} 
.box
{
    border: 2px solid black;
    margin: 40px;
    box-shadow: 10px 20px 20px 4px rgb(20, 19, 17);
}

.box:hover
{
   
    box-shadow: 5px 10px 10px 4px rgb(20, 19, 17);
}

.title
{
    border-bottom: 2px solid black;
    padding: 20px 20px;
    text-align: center;
    background-color:rgb(53, 53, 136);
    color:white;
    font-size: 35px;
    font-weight: bold;
}
.text
{
    padding-right: 300px;
    font-size: 30px;
    color: red;
    box-shadow: 15px 10px 10px 4px rgb(20, 19, 17);
    border: 1px double black;
   
    
}
.table
{
    width: 1200px;
    border:  2px solid black;
    box-shadow: 10px 20px 20px 2px rgb(20, 19, 17);
}
.table:hover
{
    border: 4px solid black;
    box-shadow: 10px 10px 10px 4px rgb(20, 19, 17);
}
.th
{
    background-color:wheat;
}

.td
{
    /* background-color:rgb(53, 53, 136); */
    color:black;
}

.pn
{
    padding: 20px ;
    font-size: 25px;
   
}