body
{
  /* display: inline-flex; */
  background-color:rgb(15, 15, 86);
}

.title
{
        font-size: 35px;
        text-align: center;
        padding: 20px 20px;
        font-weight: bold;
        color:black;
        border-bottom: solid black 2px;
        font-family: Bahnschrift Condensed;
        background-color:  rgb(216, 236, 244);
}
@media screen and (max-width:768px)
{
    .title
    {
        font-size: 25px;
        text-align: center
    }
}

.UG
{
 
    border: 2px solid black;
    margin: 10px 50px;
    height: 1100px;
    margin: 50px;
    text-align: left;
    color:black;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
}
@media screen and (max-width:768px)
{
    .UG
    {
        text-align: justify;
     height: 1300px;

    }
}


.UG:hover
{
 
    border: 4px solid black;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
}



.p
{
 text-align: justify;
 padding: 20px;
 font-size: 20px;

}
@media screen and (max-width:768px)
{
    .p
    {
        text-align: justify;
        font-size: 12px;
        padding: 20px;
    }
}


.b
{
font-size: 20px;

}
@media screen and (max-width:768px)
{
    .b
    {
        
        font-size: 12px;
        padding: 20px;
    }

}



.li 
{
    font-weight: bold;
    font-size: 20px;
}
@media screen and (max-width:768px)
{
    .li
    {
       
        font-size: 12px;
      
    }
}



.cn
{
    padding:10px 10px;
}


.PG
{
 
    border: 2px solid black;
    margin: 10px 50px;
    height: 500px;
    margin: 50px;
    text-align: left;
    color:black;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
}
@media screen and (max-width:768px)
{
    .PG
    {
        text-align: justify;
     height: 700px;

    }
}



.PG:hover
{
 
    border: 4px solid black;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
}



.Masters
{ 
    border: 2px solid black;
    margin: 10px 50px;
    height: 400px;
    margin: 50px;
    text-align: left;
    color:black;
    background-color: aliceblue;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
}
@media screen and (max-width:768px)
{
    .Masters
    {
        text-align: justify;
        height: 500px;
    }
}



.Masters:hover
{
    border: 4px solid black;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
}



.img
{
    height: 300px;
    width: 1300px;
    border-radius: 5%;
    box-shadow: 5px 5px 5px 2px  rgb(169, 230, 248);
    float: center;
    margin: 10px;
    border: 2px solid wheat;
}
@media screen and (max-width:768px)
{
    .img
    {
        height:200px;
        width: 400px;
        margin-left:30px;
        margin-right:50px;
        float: center;
        
    }  
}


h1{
    font-size: 40px;
    position: absolute;
    text-align:right;
    color: white;
    padding: 20px;
}
@media screen and (max-width:768px)
{
    h1
    {
        font-size: 30px;
        padding-left: 60px;
        margin-left: 40px;

    }
}

