.container{
    display: flex;
    justify-content: center;
}
.img{
    margin-left: 0%;
    width: 560px;
    box-shadow: 0 0 8px 8px rgb(180, 180, 239);
}
.form{
    border: 5px rgb(189, 189, 238) solid;
    box-shadow: 0 0 8px 8px rgb(142, 142, 213);
    justify-content: center;
    height: 400px;
    width: 730px;
    background-color: rgb(208, 208, 246);
    padding-left: 10px;
}
.fn,.email,.query,.date,.opinion{
    width: 550px;
    height: 33px;
    margin-left:9%;
    text-align: center;
    border: 3px solid rgb(226, 220, 238);
    box-shadow: 0 0 3px 3px rgb(156, 152, 212);
    font-size: larger;
    font-weight: 200;
    font-family: 'Times New Roman', Times, serif;
    color: #160f53; 
}
h2{
    text-align: center;
    color: #200f53; 
}
.submit{
    text-align: center;
    margin-left: 38%;
    width: 150px;
    height: 30px;
    color:rgb(15, 15, 86);
    background-color: rgb(255, 255, 255) ;
    border: #a39be2 3px solid;
    box-shadow: 0 0 2px 2px rgb(152, 158, 235);
    border-radius: 6%;
}
.submit:hover{
    background-color: #9998c6;
}
.three-box{
    display: flex;
    justify-content: center; 
    
}
.three{
    background-color: rgb(96, 134, 215);
    margin: 17px;
    height: 320px;
    width: 290px;
    border: #110633 double 5px;
    text-align: center;
}
.iconss{
    width: 100px;
    height: 80px;
  
}


.logo {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background-color: white;
}
.clgname {
    font-size: 30px;
    color: white ;

}
.loginhead {
    display: flex;
    flex-direction: row;
    background-color: rgb(15, 15, 86);
    padding-top: 10px;
    padding-left: 30px;
    padding-bottom: 10px;
}
p{
    color: white;
    font-size: 20px;
}
.placement-img{
    width: 500px;
    border-radius: 20px;
    border: 2px solid white;
}
.contact-heading{
    margin-left: 10px;
    padding-left: 200px;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 450px;
    color:rgb(15, 15, 86) ;
    border: 2px solid rgb(15, 15, 86);
    border-radius: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    margin-left: 42%;
    height: 40px;
    padding: 0;
    display: flex;
    background-color: rgb(15, 15, 86);
  }
  
  li {
    margin-right: 20px;
    font-size: larger;
  }
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a:hover {
    color: #ffcc00; 
  }
  .loc{
    margin-left: 7%;
    border: rgb(15, 15, 86) 2px double;
  }
  h5{
    font-size: x-large;
    color: rgb(15, 15, 86);
    text-align: center;
  }
  .PHONE{
    color: rgb(15, 15, 86);
    text-align: center;
  }
  .add{
    color: rgb(15, 15, 86);
    text-align: center;
  }
  /* FOOTER CSS */

  .footer {
    margin-top: 10px;
    padding: 30px 30px 0 30px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-size: small;
    font-weight: 600;
}

.inner-footer {
    display: flex;
}

.container0 {
    display: inline;
}

.container1 {
    width: 900px;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

.footer-title {
    font-size: large;
    margin-bottom: 0;
}

.footer-logo {
    width: 100px;
    margin-left: 100px;
    background-color: white;
    border-radius: 50%;
    
}

.footer-name {
    margin: 10px;
}

span {
    color: #ffffff;
}

.contact-logo {
    height: 20px;
}

.footer-campuses {
    text-decoration: none;
    color: #092635;
}

.footer-end {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
}
.social_media{
    width: 30px;
}
