@import url('https://fonts.googleapis.com/css2?family=Philosopher&display=swap');
.full{
    background-color:  #ffffff;
}
.l1{
    font-size:50px;
    color:rgb(6, 24, 96);
    font-family: 'Philosopher', sans-serif;
    margin-left:20px;
    font-weight: 500;
    text-shadow: 2px 2px 3px rgb(149, 144, 144); 
    text-align:left;
}
.l2{
    color:black; 
    font-size: 25px;
    text-align: right;
    font-weight: 800;
    margin-right: 70px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
.l3{
    font-size: 23px;
    padding: 0 15px;
}
.heading-faculty{
    font-size: 55px;
    color:white;
    text-align:center;
    background-color: rgb(15,15,86) ;
}
.main-info{
    font-size:18px;
    padding-right: 10px
}
.name{
    font-size:25px; 
    color: rgb(255, 255, 255);
}
.qualification{
    font-size:17px;
    font-weight: 700;
}
.faculty-img{
    width: 150px;
    border-radius: 50%;
    alt: faculty;
}
.one{
    display: flex;
    border:1px solid black;
    background-color: rgb(15,15,86);
    margin-top:20px;
    padding: 10px 20px;
    border-radius: 10px;
    width: 640px;
    height: 170px;
    position: right;
    box-shadow: 4px 4px 5px rgb(59, 51, 51);
}
.fac{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin-bottom: 30px;
}

@media screen and (max-width:800px){
    .l1{
        font-size:30px;
        color:rgb(6, 24, 96);
        font-family: 'Philosopher', sans-serif;
        margin-left:20px;
        font-weight: 500;
        text-shadow: 2px 2px 3px rgb(149, 144, 144); 
        text-align:left;
    }
    .l2{
        color:black; 
        font-size: 20px;
        text-align: right;
        font-weight: 800;
        margin-right: 70px;
        font-family:Verdana, Geneva, Tahoma, sans-serif
    }
    .l3{
        font-size: 20px;
        padding: 0 15px;
    }
    .heading-faculty{
        font-size: 40px;
        color:white;
        text-align:center;
        background-color: rgb(15,15,86) ;
    }
    .college_name{
        font-size:30px;
        height: 120px;
        padding-top: 20px;
        margin-left:30px;
        margin-right:30px;
        margin-bottom:30px;
        background-color: ;
        color: rgb(15, 15, 86);
        font-family: 'PT Serif', serif; 
        text-align:center;
        border-radius: 5px;
        border: 5px solid black;
        background-color:rgb(216, 236, 244);
        box-shadow: 0 0 2px 2px grey;
       }
}


/*header css*/
.cr{
    height:auto;
}
.college_name{
    font-size:45px;
    height: 160px;
    padding-top: 20px;
    margin-left:30px;
    margin-right:30px;
    margin-bottom:30px;
    background-color: ;
    color: rgb(15, 15, 86);
    font-family: 'PT Serif', serif; 
    text-align:center;
    border-radius: 5px;
    border: 5px solid black;
    background-color:rgb(216, 236, 244);
    box-shadow: 0 0 2px 2px grey;
   }

.head-main{
    display:flex;
    justify-content: space-around;
    font-size:60px;

}
.grade{
    text-align:center;
    color:  rgb(15, 15, 86);
    font-size: 25px;
    font-family: 'PT Serif', serif;
    padding-bottom: 5px;
    position: absolute;
    margin-right: 200px;

}
.navigation_bar{
    width:73%;
    margin-left:20px;
    justify-content:space-between;
    padding-left: 40px;
    background-color:rgb(216, 236, 244);
  padding: 8px 0px;
}
.navigation_button{
    margin-left: 20px;

}


/* FOOTER CSS */

.footer {
    margin-top: 10px;
    padding: 30px 30px 0 30px;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    font-size: small;
    font-weight: 600;
}

.inner-footer {
    display: flex;
}

.container0 {
    display: inline;
}

.container1 {
    width: 900px;
    display: flex;
    justify-content:space-around ;
    align-items: center;
}

.footer-title {
    font-size: large;
    margin-bottom: 0;
}

.footer-logo {
    width: 100px;
    margin-left: 100px;
    background-color: white;
    border-radius: 50%;
    
}

.footer-name {
    margin: 10px;
}

span {
    color: #ffffff;
}

.contact-logo {
    height: 20px;
}

.footer-campuses {
    text-decoration: none;
    color: #092635;
}

.footer-end {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    padding: 10px;
}
.social_media{
    width: 30px;
}
