@import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Mukta:wght@700&display=swap');
       body
        {
          background-color:rgb(15, 15, 86);
        }
        
                        
          .container{
            background-color:rgb(15, 15, 86);
            padding-top: 30px;
            display: inline;
            position: relative;
          }
          .college_name{ 
          background-color:rgb(216, 236, 244);
          padding: 10px;
          font-size: 25px;
          color: rgb(15, 15, 86);
          font-family: 'PT Serif', serif; 
          text-align: center;
          border-radius: 5px;
          margin-left: 200px;
          margin-right: 200px;
          margin-top: 30px;
          height: 100px;
          padding-top: -20px;
          padding-bottom: -20px;
          border: 5px solid black;
          box-shadow: 0 0 2px 2px ;
         
          }
          @media screen and (max-width:768px)
          {
              .college_name
              {
                  
                    width: 230px;
                    height: 200px;
                   padding: 0;
                    font-size: 25px;
                    margin-left: 130px;
                    margin-right: 100px;
                    margin-bottom: -20px;
              }
          }
        
          
          .grade{
            color:  rgb(15, 15, 86);
            font-size: 25px;
            font-family: 'PT Serif', serif;
            padding-bottom: 5px;
           }
         
         @media screen and (max-width:768px)
         {
             .grade
             {
              font-size: 15px;
              
              text-align: center;
             }
           }

       .image{
        margin-top: 40px;
        border-radius: 50px;
        border: 3px solid black;
         }
         @media screen and (max-width:768px)
        {
            .image
            {
                margin-top: 40px;
                width: 450px;
            }
        }
       .card{
        height:300px;
        width:500px;
        background-color: aliceblue;
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        margin-top: 20px;
        border: 2px dotted rgb(255, 255, 255);
        color: white;
        display: inline-table;
       }
       .about{
        font-size: 30px;
        margin: 20px;
       }

       .logo{
        margin-top:-160px;
        height:140px;
        border-radius: 50%;
        border: 2px solid black;
        border-radius: 50%;
        background-color: #ffffff;
        margin-left: 20px;
       
        }
       @media screen and (max-width:768px)
       {
           .logo
           {
           
            height:80px;
            border-radius: 50%;
            border: 2px solid black;
            background-color: #ffffff;
            margin: 0 right;
            
          
           }
       }
       
       @media screen and (max-width:768px)
       {
      .rights                                                                         /*roght logo */
      {
        height:100px;
        margin-top: -150px;margin-left: 330px;position: absolute;
      }
      }

      @media screen and (max-width:768px)
      {
     .left                                                                         /*roght logo */
     {
      
      height:100px;
       margin-top: -120px;
       position: absolute;
     
     }
     }

       .social_media{
        height: 30px;
        margin:5px ;
        float: inline-start;
        
        }
        
        .search{
        size: 2px;
        text-align: start;
        color: rgb(0, 0, 0);
        background-color:rgb(216, 236, 244);
        position: initial;
       
        }
        
       .menu_bar
        {
           display: flex;
           justify-content: space-between;
           align-items: center;
           position: relative;
          
           
        }
        @media screen and (max-width:768px)
        {
            .menu_bar
            {
              display: none;
            }
        }
 
        
        .nevigation_bar
        {
        
        padding-left: 60px;
        justify-content:space-between;
        
      
        }
        .menu_bar ul
        {
            list-style: none;
            display: flex;
            font-size: 30px;
        }
        .menu_bar ul li
        {
           position: relative;
        }
        
        .menu_bar ul li a
        {
          font-size: 15px;
          color:black;
          background-color:rgb(255, 255, 255);
          padding: 10px;
          text-decoration: none;
          font-weight: 500;
          
        }
        .menu_bar ul li a:hover
        {
         color: rgb(234, 70, 0);
         
        
        }
        .dropdown_menu
        {
          display: none;
          background-color: none;

         
        }
        .menu_bar ul li:hover .dropdown_menu 
        {
           display: block;
           position: absolute;
           left: 0;
           top:100%;
           font-size: 20px;
        }
        .menu_bar ul li:hover .dropdown_menu ul
        { 
           display: block;
           margin: 10px;
        }
        .menu_bar ul li:hover .dropdown_menu ul li
        {
         width: 200px;
         padding: 10px;
         background-color:rgb(255, 255, 255);
         border-bottom-style: solid;
        }
        

       .hamburger-menu
       {
       color: whitesmoke;
       height:40px;
      
       right: 10px;
       }
       @media screen and (max-width:769px)
       {
           .hamburger-menu
           { 
            visibility:visible;
           }
       }
       @media screen and (min-width:769px)
       {
           .hamburger-menu
           {
             visibility:hidden;
           
           }
       }


       .notice-card{
        height:100px;
        width: 30%;
        background-color:  #b1dddf;
        border-radius:10px;
        padding: 10px;
        font-size: 20px;
        display:inline-flex;
        margin: 7px;
        margin-top: 20px;
        box-shadow: 0 0 3px 3px;
        text-align: justify;
        justify-content: space-between;
       } 
       @media screen and (max-width:768px)
       {
    .notice-card
    {
        margin: 7px;
        width: 450px;
        height:100px;
        padding: 5px;
        font-size: 20px;
        margin-top: 10px;
        box-shadow: 0 0 3px 3px;
        text-align: justify;
        justify-content: space-between; 
    }
}

       

      .video{
        height: 500px;
        width: 100%;
        margin: 50px; 
      }
      @media screen and (max-width:768px)
      {
          .video
          {
              margin-top: -100px;
              width: 350px;
          }
      }


      .media{
        margin-top: 10px;
        text-align: center;
        background-color: rgb(216, 236, 244); 
        padding: 5px;
        border: 10px double grey;
        border-radius: 10px;
        margin: 20px 200px 0 200px;
        font-family: 'Mukta', sans-serif;
        color: rgb(15, 15, 86);
        
      }
            @media screen and (max-width:768px)
      {
          .media
          {
              margin-top: 10px;
              text-align: center;
              font-family: 'Mukta', sans-serif;
              padding: 5px;
              margin: 20px 100px 0 100px;
          }
      }

      .facilities{
        height: 40px;
        width: 90.0%;
        margin: 30px;
        padding: 30px;
        font-size: 30px;
        display: inline-table;
        border: 3px solid black;
        background-color:  #b1dddf;
      }
      @media screen and (max-width:768px)
      {
          .facilities
          {
              margin-top: 20px;
              width: 350px;
              font-size: 20px;
          }
      }

      .items{
       float: left;
       display: list-item;
       margin: 5px;
       padding: 2px;

      }
      

      .footer {
        margin-top: 20px;
        padding: 30px 30px 0 30px;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        font-size: small;
        font-weight: 600;
        box-sizing: border-box;
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: -10px;
       
        
    }
    @media screen and (max-width:768px)
      {
          .footer
          {
            margin-top: 10px;
            padding: 15px 15px 0 15px;
            font-size: 10px;
            font-weight: 200;
            border: 50px solid black;
          }
      }
    .inner-footer {
        display: flex;
    }
    
    .container0 {
        display: inline;
    }
    @media screen and (max-width:768px)
      {
          .container0
          {
            display: inline;
          }
      }
    
    .container1 {
        width: 900px;
        display: flex;
        justify-content:space-around ;
        align-items: center;
    }
    @media screen and (max-width:768px)
      {
          .container1
          {
            display: inline;
          }
      }
    
    .footer-title {
        font-size: large;
        margin-bottom: 0;
    }
    
    .footer-logo {
        width: 100px;
        margin-left: 100px;  
    }
    @media screen and (max-width:768px)
      {
          .footer-logo
          {
            margin-left: 20px;
            margin-right: 20px;
          }
      }
    
    .footer-name {
        margin: 10px;
    }
    
    span {
        color: #ffffff;
    }
    
    .contact-logo {
        height: 20px;
    }
    
    .footer-campuses {
        text-decoration: none;
        color: #000000;
    }
    
    .footer-end {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        padding: 10px;
    }