
        @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');
         
        .container{
            background-color:rgb(15, 15, 86);
        }
       .college_name{ 
           background-color:#002db3  ;
           padding: 20px;
           font-size: 30px;
           color: rgb(255, 255, 255);
           font-family: 'PT Serif', serif; 
           text-align: center;
           border-radius: 5px;
           margin-left: 200px;
           margin-right: 200px;
           height: 100px;
           margin-top: 40px;
           border: 5px solid black;
           box-shadow: 0 0 2px 2px grey;
          }
           
       .grade{
          color:  rgb(255, 255, 255);
          font-size: 30px;
          font-family: 'PT Serif', serif;
          padding-bottom: 5px;
         }
       
       .image{
        margin-top: 40px;
        border-radius: 50px;
        border: 3px solid black;
         }

       .card{
        height:300px;
        width:500px;
        background-color: black;
        border-radius: 10px;
        padding: 10px;
        font-size: 20px;
        margin-top: 20px;
        border: 2px dotted rgb(255, 255, 255);
        color: white;
        display: inline-table;
       }

       .about{
        font-size: 30px;
        margin: 20px;
       }

       .logo{
        margin-top:-170px;
        height:"200px";
       }

       .social_media{
       height: 30px;
       margin:5px ;
      float: inline-start;
       }

       .navigation_bar{
       font-size: 10px;
       background-color: rgb(0, 0, 0);
       padding: 15px;
       display: inline-block;
       width: 100%;
       display: inline;
       margin-top: 100px;
       flex-direction: row;
       }

      .navigation_button{
        font-size: 15px;
       border: 2px solid white;
       border-radius: 5px;
       background-color:grey;
       margin-left: 22px;
       margin-right:22px;
       justify-content: space-between;
       color: white;
      }

      .navigation_button:hover {
       background-color: yellow;
       transition: 2s;
       box-shadow: 1px 1px 1px 1px rgb(255, 255, 255);
       border-radius:10px;
       color: black;
      }
       

       .notice-card{
        height:100px;
        width: 30%;
        background-color: rgba(24, 28, 30, 0.299);
        border-radius:10px;
        padding: 10px;
        font-size: 20px;
        display:inline-flex;
        margin: 7px;
        margin-top: 20px;
        box-shadow: 0 0 3px 3px;
        text-align: justify;
        justify-content: space-between;
       }   

       .search{
        margin: 20px 0 20px 0;
        size: 20px;
        padding: 5px;
        font-size: 10px;
        text-align: start;
        color: rgb(0, 0, 0);
       }

      .video{
        height: 500px;
        width: 100%;
        margin: 50px; 
      }

      .media{
        margin-top: 10px;
        text-align: center;
        background-color: aquamarine;
        padding: 5px;
        border: 10px double grey;
        border-radius: 10px;
        margin: 20px 200px 0 200px;
      }


      .facilities{
        height: 40px;
        width: 90.0%;
        margin: 30px;
        padding: 30px;
        font-size: 30px;
        display: inline-table;
        border: 3px solid black;
        background-color: rgba(24, 28, 30, 0.299); 
      }

      .items{
       float: left;
       display: list-item;
       margin: 5px;
       padding: 2px;

      }

      .footer {
        margin-top: 10px;
        padding: 30px 30px 0 30px;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        font-size: small;
        font-weight: 600;
    }
    
    .inner-footer {
        display: flex;
    }
    
    .container0 {
        display: inline;
    }
    
    .container1 {
        width: 900px;
        display: flex;
        justify-content:space-around ;
        align-items: center;
    }
    
    .footer-title {
        font-size: large;
        margin-bottom: 0;
    }
    
    .footer-logo {
        width: 100px;
        margin-left: 100px;
        
        
    }
    
    .footer-name {
        margin: 10px;
    }
    
    span {
        color: #ffffff;
    }
    
    .contact-logo {
        height: 20px;
    }
    
    .footer-campuses {
        text-decoration: none;
        color: #092635;
    }
    
    .footer-end {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        padding: 10px;
    }
    

      
      