body{
    background-color: rgb(15, 15, 86);
}
.logo{
    height: 100px;
    width: 100px;
    border-radius: 50%;
   }


h1{
    margin-left: 120px;
    text-align: center;
    color: white;
    text-decoration: underline;
    font-size: 50px;
}
h2{
    color: white;
    text-decoration: underline;
    position: relative;
    padding-top: 10px;
}
.clgname{
    padding-bottom: 10px;
    padding-top: 10px;
    text-align: center;
    flex-direction: row;
    display: flex;
    justify-content: center;
    background-color: rgb(23, 23, 92);
    border-radius: 10px 10px 0px 0px ;
    
}
form{
    text-align: center;
    border: 1px black solid;
    border-radius: 15px;
    width: 1000px;
    margin-left: 230px;
    box-shadow: 10px 10px 5px 5px gray;
    background-color: rgb(222, 227, 205);
    justify-content: center;
}
form:hover{
    box-shadow: 10px 10px 10px 10px black;
}
.btn{
    width: 300px;
    height: 45px;
    background-color: rgb(15, 15, 86) ;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16x;
    color: white;
    font-size: 15px;
}
.btn:hover{
    background-color: green ;
    color: white;
    border: 2px solid black;
}
.line{
    color: white;
}
#I{
    font-size: 30px;
}
.size{
    font-size: 20px;
}