/* 
  page background-color:rgb(15, 15, 86);
  border: 3px solid black;
   border: 3px solid darkblue;
  cards  background-color: aliceblue;
  navigation bar/heading background-color: rgb(216, 236, 244);
  box-shadow:1px 1px 5px 5px rgb(88, 88, 101);

  college name font
   @import url('https://fonts.googleapis.com/css2?family=PT+Serif:wght@700&display=swap');

   



  FOOTER CODE::

  <!--Footer-->
<div class="footer">
    <div class="inner-footer">
      <div class="container0">
        <p class="footer-title">
          <img
            src="./img/spectrum_college_logo-removebg-preview.png"
            alt="Spectrum College Of Engineering and Research,Pune"
            class="footer-logo"
          />
        </br></br>
          <span class="footer-name">Spectrum College Of Engineering and Research,Pune</span>
        </p>
        <br />
        <p>
            "The word Engineering is not based on the word engine but
             rather it is derived from two latin words ingenium, meaning "cleverness"<br />
              and ingeniare, meaning "to contrive, devise."
        </p>
      </div>
      <div class="container1">
        <div class="footer-content">
          <p class="footer-title"><b>Our Campuses </b></p>
          <p class="footer-campuses"><span>Pune</span></p>
          
          <p class="footer-campuses" ><span>Mumbai</span></p>
      
          <p class="footer-campuses"><span>Nagpur</span></p>
          
          <p class="footer-campuses"><span>Delhi</span></p>
         
          <p class="footer-campuses"><span>Kalkatta</span></p>
         
          <p class="footer-campuses"><span>Chennai</span></p>
          
          <p class="footer-campuses"><span>Banglore</span></p>
          
        </div>

        <div class="footer-content">
          <p class="footer-title"><b> Quick Links </b></p><br />
          <a href="./index.html" class="footer-anchor"
            ><span>Home</span></a
          >
          <br />
          <a href="./pages/Loginpage.html" class="footer-anchor"
            ><span>Login</span></a
          >
          <br />
          <a href="./pages/about.html" class="footer-anchor"
            ><span>About Us</span></a
          >
          <br />
          <a href="./pages/admission.html" class="footer-anchor"
            ><span>Admission</span></a
          >
          <br />
          <a href="./pages/examination.html" class="footer-anchor"
            ><span>Examination</span></a
          >
          <br />
          <a href="./pages/department-info.html" class="footer-anchor"
            ><span>Department</span></a
          >
          <br />
          <a href="./pages/training-and-placement.html" class="footer-anchor"
            ><span>Training and Placement</span></a
          >
          <br />
          <a href="./pages/contact.html" class="footer-anchor"
            ><span>Contact</span></a
          >
        </div>
      </div>
      <div class="container2">
        <p class="footer-title">Contact Details</p><br />
        <a
          href="https://maps.app.goo.gl/9cwJUf8Ruc1zuFEz8"
          class="footer-anchor"
          target="_blank"
        >
          <img
            src="./icons/location-pin.png"
            alt="location"
            class="contact-logo"
          />
          <span
            >412,Nagar Road,Bakori Phata,Wagholi.
             <br />
            Pune - 412307</span
          >
        </a>
        <br />
        <a href="tel:+91 9850912814" class="footer-anchor">
          <img src="./icons/phone.png" alt="phone" class="contact-logo" />
          <span>+91-9850912814</span>
        </a>
        <br />
        <a href="mailto: kanchan0214@gmail.com" class="footer-anchor">
          <img src="./icons/gmail.png" alt="mail" class="contact-logo" />
          <span>kanchan0214@gmail.com</span><br /><br />

          <div>
    <img src="./icons/facebook.png" class="social_media"/>
    <img src="./icons/instagram.png" class="social_media"/>
    <img src="./icons/linkedin.png" class="social_media"/>
    <img src="./icons/whatsapp.png" class="social_media"/>
    
    
          </div>
        </a>
      </div>
    </div>
    <div class="footer-end">
      <p>© Spectrum College Of Engineering And Research,Pune.</p>
      <p>All rights Reserverd Terms of Use Privacy Policy</p>
    </div>


    FOOTER CSS

    .footer {
        margin-top: 10px;
        padding: 30px 30px 0 30px;
        color: #ffffff;
        background-color: rgb(0, 0, 0);
        font-size: small;
        font-weight: 600;
    }
    
    .inner-footer {
        display: flex;
    }
    
    .container0 {
        display: inline;
    }
    
    .container1 {
        width: 900px;
        display: flex;
        justify-content:space-around ;
        align-items: center;
    }
    
    .footer-title {
        font-size: large;
        margin-bottom: 0;
    }
    
    .footer-logo {
        width: 100px;
        margin-left: 100px;
        
        
    }
    
    .footer-name {
        margin: 10px;
    }
    
    span {
        color: #ffffff;
    }
    
    .contact-logo {
        height: 20px;
    }
    
    .footer-campuses {
        text-decoration: none;
        color: #092635;
    }
    
    .footer-end {
        display: block;
        text-align: center;
        margin-bottom: 5px;
        padding: 10px;
    }



    HEADER CODE

     <header>
    <div class="loginhead">
      <img src="./../img/spectrum_college_logo-removebg-preview.png" alt="clg logo" class="logo"><h2 class="clgname"> &nbsp;&nbsp; Spectrum College Of Engineering and Research (Pune)</h2> 
      <br><br>&nbsp;&nbsp;&nbsp;
     <img src="./../img/training2.jpg" alt="placement img" class="placement-img">
   </div>
      <nav>
        <ul>
          <li><a href="./../index.html">Home</a></li>
          <li><a href="./about.html" target="_blank">About</a></li>
          <li><a href="./admission.html" target="_blank">Admission</a></li>
          <li><a href="./examination.html" target="_blank">Examination</a></li>
          <li><a href="./contact.html" target="_blank">Contact</a></li>
          <li><a href="./grpproject.html" target="_blank">Department</a></li>
          <li><a href="./training-and-placement.html">Training and Placement</a></li>
          <li><a href="./Loginpage.html" target="_blank"><button class="btn">Login</button></a></li>
        </ul>
      </nav>
 </header>


   HEADER CSS

   body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  nav {
    background-color:rgb(15, 15, 86);
    padding: 10px;
    float: right;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  li {
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: white;
    font-weight: bold;
  }
  
  a:hover {
    color: #ffcc00; 
  }
  .btn{
    background-color: transparent;
    border: 2px solid white;
    border-radius: 10px;
    padding: 5px 20px;
    color: white;
  }
  .btn:hover{
    background-color: white;
    color: black;
  }





  footer responsiveness code


  @media screen and (max-width:768px) {
  .footer {
    margin-top: 10px;
    padding: 15px 15px 0 15px;
    font-size: 10px;
    font-weight: 200;
  }
}



Header responsiveness code


@media screen and (max-width:768px) {
  .college_name {

    width: 230px;
    height: 200px;
    padding: 0;
    font-size: 25px;
    margin-left: 130px;
    margin-right: 100px;
    margin-bottom: -20px;
  }
}
@media screen and (max-width:768px) {
  .grade {
    font-size: 15px;

    text-align: center;
  }
}
@media screen and (max-width:768px) {
  .logo {

    height: 80px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #ffffff;
    margin: 0 right;
  }
}


Navigation baar responsiveness code

@media screen and (max-width:768px) {
  .menu_bar {
    display: none;
  }
}


*/